.container{
    overflow-x: auto;
	margin-top: 8%;
	margin-left: 33%;
}

.jogo{
    border-spacing: 0;
}

h1{
    font-weight: normal;
    text-align: center;
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 16%;
}

.cinza {
  background-color: grey;
}

.branco {
  background-color: white;
}

.preto {
    background-color: black;
}

.cinza, .branco, .preto {
	padding: 0;
    margin: 0;
    border: 0.1em solid black;
	height: 3.5em;
    width: 3.5em;
	vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.rainha {
    width: 4em;
    height: 4em;
    cursor: pointer;
	user-select: none;
}

.dominado {
	background-color: yellow;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider.round:before {
  border-radius: 45%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

@media only screen and (max-width: 520px) {

    .container{
        margin-top: 2%;
        margin-left: 1%;
    }

    h1 {
        padding-left: 4% !important;
        padding-right: 3% !important;
    }

    body {
        background-color: lightblue;
    }
}

@media only screen and (max-width: 520px) {

    .container{
        margin-top: 2%;
        margin-left: 1%;
    }

    h1 {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    body {
        background-color: lightblue;
    }
}

@media only screen and (min-width: 520px) and (max-width: 620px) {

    .container{
        margin-top: 8%;
        margin-left: 6%;
    }


    h1 {
        padding-left: 7% !important;
    }

    body {
        background-color: blue;
    }
}

@media only screen and (min-width: 620px) and (max-width: 750px) {

    .container{
        margin-top: 8%;
        margin-left: 12%;
    }

    h1 {
        padding-left: 12% !important;
    }

    body {
        background-color: darkblue;
    }
}

@media only screen and (min-width: 750px) and (max-width: 890px) {

    .container{
        margin-top: 8%;
        margin-left: 20%;
    }

    h1 {
        padding-left: 18% !important;
    }

    body {
        background-color: red;
    }
}

@media only screen and (min-width: 890px) and (max-width: 1030px) {

    .container{
        margin-top: 6%;
        margin-left: 30%;
    }

    h1 {
        padding-left: 27% !important;
        padding-right: 15% !important;
    }

    body {
        background-color: yellow;
    }
}

@media only screen and (min-width: 1030px) and (max-width: 1230px) {

    .container{
        margin-top: 5%;
        margin-left: 30%;
    }

    h1 {
        padding-left: 29% !important;
        padding-right: 25% !important;
    }

    body {
        background-color: grey;
    }
}

@media only screen and (min-width: 1230px) and (max-width: 1440px) {

    .container{
        margin-top: 7%;
        margin-left: 34%;
    }

    h1 {
        padding-left: 33% !important;
        padding-right: 28% !important;
    }

    body {
        background-color: white;
    }
}
